PORT = 8080
FRONTEND_URL = http://localhost:5173
JWT_SECRET = jwt_secret_jakkash
SESSION_SECRET = session_secret_jakkash

# postgres db
DB_HOST='localhost'
DB_USER='postgres'
DB_PASSWORD='root'
DB_DATABASE='jakkash'
DB_PORT = 5432
DB_CONNECTION_LIMIT=10

WHATSAPP_TOKEN="whatsapp_token_here"

id='1532583707888961'